# Logs
logs
*.log
npm-debug.log*

# Build outputs
node_modules
dist
dist-ssr
build
.vite

# Environment files
.env
.env.*

# Coverage directory
coverage/

# OS generated
.DS_Store

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security keys
*.pem
